<div class="wrap cf">
    <h1 class="projTitle">Shopping Cart</h1>
    <div class="heading cf">
      <h1>My Cart</h1>
      <a routerLink="/home" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">

      <ul class="cartWrap">
        <li class="items" *ngFor="let shoppingCart of cart ; index as i  ">  
          <div class="infoWrap"> 
            <div class="cartSection">
              <p class="itemNumber">Amount: {{shoppingCart.amount}}</p>
              <h3>{{shoppingCart.name |titlecase}}</h3>
            </div>  
        
            
            <div class="prodTotal cartSection">
              <p>{{shoppingCart.price |currency}}</p>
            </div>
                  <div class="cartSection removeWrap">
              <a title="Delete" class="remove" (click)="delelteCart(i)">x</a>
            </div>
          </div>
        </li>
   
      </ul>
    </div>
    
    <div class="subtotal cf">
      <!-- <ul>
        <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>
        
            <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>
        
              <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>
              <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
        <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
      </ul> -->
    </div>
  </div>
