
.logo a img {
    position: relative;
    z-index: 9999;
}

.logo::before {
    position: absolute;
    content: "";
    top: -35px;
    background: url(../../../../assets/img/lo_be1.png);
    width: 390px;
    height: 197px;
    left: -30px;
    background-repeat: no-repeat;
}


/*-- navigation--*/

.navigation.navbar {
    float: right;
    padding-top: 3px !important;
    padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 9px 22px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
    border-bottom: solid;
}

.navbar-expand-md .navbar-nav {
    padding-right: 10px;
}

.header {
    width: 100%;
    height: 74px;
    padding: 15px 30px;
    background-color: #ff3556e3;
}

.full_bg {
    background: url(../../../../assets/img/banner2.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.banner_main {
    position: relative;
    padding-bottom: 110px;
}

.text_box {
    text-align: left;
    padding-top: 36%;
}

.text_box span {
    color: #000;
    font-size: 28px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    display: block;
}

.text_box h1 {
    font-size: 91px;
    font-weight: 500;
    color: #ff3556;
    margin-bottom: 50px;
    line-height: 87px;
}

.text_box h1 strong {
    font-size: 79px;
    font-weight: 500;
    line-height: 78px;
}
